body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    
}
.box{
    width: 80px;
    margin:20px;
    padding: 40px;
    color: white;
    background: teal;
    font-size: 24px;
    border-radius: 10px;
}
@media (max-width:600px){
    .box{
        background: orange;
        font-size: 18px;
    }
}
@media (min-width:601px) and (max-width:1024px){
    .box{
        background: purple;
        font-size: 22px;
    }
}
@media (min-width:1025px){
.box{
    background: teal;
    font-size: 24px;
}
.box{
    display: flex ;
    justify-content: space-around;
}
}
    nav{    
    display:flex;
    justify-content: space-between;
    color: white;
    
}
body{
    background-image: url(pexels-pixabay-268533.jpg)
  
}
/*ni paragraph yo muri index.html*/
.good{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/*ni amagambo abanziriza  paragraph yo index.html*/
.head{
    justify-content: center;
    display: flex;
}
/*ni head yo muri index.html*/
.h1{
     background: no-repeat;
   color: #fff;
   padding: 1rem 0;
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
}
.h1{
     color: #fff;
    text-decoration: none;
    margin-left: 1rem
}
.h1{
    background-attachment: fixed;
    background-repeat: round;
    background-clip: content-box;
}
/*ni box yo muri login.html*/
#feature{
    justify-content: center;
    border: solid;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(78, 76, 76);
    width: 30rcap;
    margin-left:30%;
    margin-top: 20%;
}
/*ni zomuri login.html za email na password*/
#a{
    height: 35px;
    width: 250px;
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    size: px;
    margin-left: 30px;
    margin-right:px;
    text-align: center;
    box-shadow: blue;
}
/*ni button yo muri login */
#button{
    background-color: grey;  
    color: rgb(49, 46, 25);
    border-radius: 7px;
    height: 30px;
    margin-left: 120px;
    
}
/*the box of heard in index.html*/
#h1{
    text-decoration: solid;
    text-shadow: whitesmoke;
    text-align: center;
       height: 90%;
    width:px;
    background-color: rgb(73, 45, 25);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    size: px;
    margin-right:-9px;
    margin-left: -24px;
    margin-top: -23px;
    
}
/*a button in about.html*/
#finish{
    border-radius: 7px;
    background-color: black;
    color:white;
}
.you{
   height: 150px;
    width: 400px;
    background-color: rgb(82, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    margin-left: 330px;
    text-align: center;
    box-shadow: blue;
    margin-top: 230px;
    color: grey;
}
#you{
    background-color: grey;
    color: white;
    border-radius: 5px;
}
.home{
    text-align: center;
    justify-content:space-between;
    margin-left: 700px;
  
} 
.ABOUT{
  margin-left:50px ;  
}
.next{
    margin-left: 50px;
}
#tech{
  height:200px;
    width: 400px;
    background-color: rgb(82, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left: 330px;
    text-align: center;
    box-shadow: blue;
    margin-top: 230px;
    color: grey;   
}
#team{
    border-radius: 10px;
    color: grey;
    height: 30px;
    width: 200px;
    background-image: url(pexels-pixabay-268533.jpg)
}
#leader{
    border-radius: 10px;
    color: grey;
    height: 30px;
    background-image: url(pexels-pixabay-268533.jpg)  
}
#list{
    justify-content: center;
    text-align: center;
}
#table{
    scroll-margin-left: 90px;
}
#back{
    margin-left: 500px;
}


